
/* font */
html {
    font-size: 16px;
}
.dld {
    font-family: 'BespokeSerif-Medium';
}
.dld .fweight {
    font-family: 'BespokeSerif-Light';
}

nav {
    font-family: 'Bahnschrift';
}

.textmove p {
    font-family: 'century_gothic', sans-serif;
}
.con3 .lrnBtn {
    font-family: 'century_gothic', sans-serif;
}

.con02 .pr>h3 {
    font-family: 'OTOmniGothicH';
}

.con02 .pr>p {
    font-family: 'OTOmniGothicL';
}
.btn button{
    font-family: 'OTOmniGothicL';
}
address a {
    font-family: 'OTOmniGothicL';
}

.udt p {
    font-family: 'OTOmniGothicB';
}
.contact h4 {
    font-family: 'OTOmniGothicB';
}

.udt>button>span {
    font-family: 'OTOmniGothicM';
}