@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font */
html {
    font-size: 16px;
}
.dld {
    font-family: 'BespokeSerif-Medium';
}
.dld .fweight {
    font-family: 'BespokeSerif-Light';
}

nav {
    font-family: 'Bahnschrift';
}

.textmove p {
    font-family: 'Century Gothic', sans-serif;
    font-weight: 700;
}
.con03 .lrnBtn {
    font-family: 'Century Gothic', sans-serif;
    font-weight: 700;
}

.con02 .pr>h3 {
    font-family: 'OTOmniGothicH','Inter', 'Noto Sans', sans-serif;
    font-size: 25px;
    line-height: 1.36;
    letter-spacing: -0.75px;
    text-align: center;
    color: #fff7eb;
    font-weight: 600;
}
.con04 .btn h2 {
    font-family: 'OTOmniGothicH','Inter', 'Noto Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.con02 .pr>p {
    font-family: 'OTOmniGothicL','Inter', 'Noto Sans', sans-serif;  
    font-size: 22px;
    line-height: 1.36;
    letter-spacing: -0.75px;
    color: #fff7eb;
    display: flex;
    flex-direction: column;
    font-weight: 200;
}
.con04 .btn p {
    font-family: 'OTOmniGothicL','Inter', 'Noto Sans', sans-serif;
    font-weight: 300;
}
.btn button{
    font-family: 'OTOmniGothicL','Inter', 'Noto Sans', sans-serif;
    font-weight: 300;
}
address a {
    font-family: 'OTOmniGothicL','Inter', 'Noto Sans', sans-serif;
    font-weight: 300;
    color: #fff7eb;
}
.udt p {
    font-family: 'OTOmniGothicB','Inter', 'Noto Sans', sans-serif;
    font-weight: 600;
    color: #fff7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact h4 {
    font-family: 'OTOmniGothicB','Inter', 'Noto Sans', sans-serif;
    font-weight: 700;
    color: #fff7eb;
    margin-bottom: 16px;
}

.udt>button>span {
    font-family: 'OTOmniGothicM','Inter', 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 13px;
}
.fIcons a:nth-of-type(1) p {
    font-family:' OTOmniGothicM''Inter', 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 10px;
}